<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						VPN Services
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						VPN Service Detail
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">
						VPN Service Update/Delete
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
          <button type="button" class="btn btn-info btn-lg btn-block disabled">
            Update
          </button> 
          <button type="button" class="btn btn-danger btn-lg btn-block disabled">
            Delete
          </button>
				</div>
			</div> 

		</div>
		<div class="col-md-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						Add New VPN Service
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
          <button type="button" class="btn btn-success btn-lg btn-block disabled">
            Add
          </button>
				</div>
			</div> 

		</div>
  </div>
  <hr>
  <div class="row">
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						IPSec Policies
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						IPSec Policy Detail
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">
						IPSec Policy Update/Delete
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
          <button type="button" class="btn btn-info btn-lg btn-block disabled">
            Update
          </button> 
          <button type="button" class="btn btn-danger btn-lg btn-block disabled">
            Delete
          </button>
				</div>
			</div> 

		</div>
		<div class="col-md-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						Add New IPSec Policy
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
          <button type="button" class="btn btn-success btn-lg btn-block disabled">
            Add
          </button>
				</div>
			</div> 

		</div>
  </div>
  <hr>
  <div class="row">
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						IKE Policies
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						IKE Policy
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">
						IKE Policy Update/Delete
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
          <button type="button" class="btn btn-info btn-lg btn-block disabled">
            Update
          </button> 
          <button type="button" class="btn btn-danger btn-lg btn-block disabled">
            Delete
          </button>
				</div>
			</div> 

		</div>
		<div class="col-md-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						Add New IKE Policy
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
          <button type="button" class="btn btn-success btn-lg btn-block disabled">
            Add
          </button>
				</div>
			</div> 

		</div>
  </div>
  <hr>
  <div class="row">
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						Site Connections
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						Site Connection
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">
						Site Connection Update/Delete
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
          <button type="button" class="btn btn-info btn-lg btn-block disabled">
            Update
          </button> 
          <button type="button" class="btn btn-danger btn-lg btn-block disabled">
            Delete
          </button>
				</div>
			</div> 

		</div>
		<div class="col-md-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						Add New Site Connection
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
          <button type="button" class="btn btn-success btn-lg btn-block disabled">
            Add
          </button>
				</div>
			</div> 

		</div>
	</div>
</div>