<form [formGroup]="projectForm" >
  <div>
    <p>Here's all the projects </p>
    <hr> 
    <p>Projects == {{(projects[1].name|json)}} </p>
    <hr>
    <ul>
      <li *ngFor="let entry of projects | convertSubset2Array | sortObjectsByName">           
        Key: {{entry.key}}, value: {{entry.value.name|json}}
      </li>
    </ul>
  </div>     
  <!-- <div formGroupName="projectData">
        <div  class="form-group">
          <label for="project">
            Please select a project
          </label>
          <select
            id="project"
            class="form-control"
            formControlName="project"						
            name="project"
            (change)="projectChange()">
            <option [value]="null">Choose a project</option>
            <option *ngFor="#userProject of projects | async; let c = count; let i = index;" [value]="userProject"> Project {{i}} of {{c}} name is {{userProject}}</option> -->
            <!-- <option *ngFor="let project of projects | sortObjectsByName" [value]="project">{{project.name}}</option> -->
            <!-- <option *ngFor="let project of projects " [value]="project.id">{{project.name}}</option> -->
          <!-- </select>
          <span
            *ngIf="!passwordForm.get('projectData.project').valid && passwordForm.get('projectData.project').touched"
            class="help-block">Please select a project from the list
          </span>					
        </div>

        
      </div> -->
</form>
