<div *ngIf='currentProjectT' class="container-fluid">
  <div class="col-md-12">
      <div class="panel with-nav-tabs panel-info">
          <div class="panel-heading">
                  <ul class="nav nav-tabs">
                      <li *ngIf='userServers' class="active"><a href="#tab1compute" data-toggle="tab">Compute <span class="badge">{{userServers.length}}</span></a></li>
                      <li *ngIf='userStacks'> <a href="#tab2stack" data-toggle="tab">Stack <span class="badge">{{userStacks.length}}</span></a></li>
                      <li *ngIf='userNetworks'> <a href="#tab3primary" data-toggle="tab">Network</a></li>
                  </ul>
          </div>
          <div class="panel-body">
              <div class="tab-content">
                  <div class="tab-pane fade in active" id="tab1compute">
                      <div *ngIf='currentProjectT' class="container-fluid">
                          <div class="row">
                            <div *ngIf='userServers' class="col-md-4">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h3 class="panel-title">
                                    Servers 
                                  </h3>
                                </div>
                                <div class="fixed-panel panel-body">
                                  <div *ngFor='let server of userServers | sortObjectsByName'>
                                    <li    value="server.id | json | removeQuotes"
                                            (click)="serverChange(server)">{{server.name | json | removeQuotes}}</li>
                                  </div>
                                </div>
                                <div class="panel-footer">
                        
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div *ngIf='serverDetails' class="panel panel-default">
                                    <div class="panel-heading">
                                      <h3 class="panel-title">
                                        Details of {{serverDetails.name|json | removeQuotes}}
                                      </h3>
                                    </div>
                                    <div class="fixed-panel panel-body">
                                        {{serverDetails|json | removeQuotes}}
                                    </div>
                                    <div class="panel-footer">
                                        {{serverDetails.flavor.id|json | removeQuotes}}
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div *ngIf='serverDetails' class="panel panel-default">
                                    <div class="panel-heading">
                                      <h3 class="panel-title">
                                          Console boot logs for {{serverDetails.name|json | removeQuotes}}
                                      </h3>
                                    </div>
                                    <div class="term-container fixed-panel panel-body">
                                        {{serverLogs}}
                                    </div>
                                    <div class="panel-footer">
                                      Panel footer
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="tab-pane fade" id="tab2stack">
                      <div *ngIf='currentProjectT' class="container-fluid">
                          <div class="row">
                            <div *ngIf='userStacks' class="col-md-4">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h3 class="panel-title">
                                    Stacks 
                                  </h3>
                                </div>
                                <div class="fixed-panel panel-body">
                                  <div *ngFor='let stack of userStacks | stackSorter'>
                                    <li    value="stack.id | json | removeQuotes"
                                            (click)="stackChange(stack)">{{stack.stack_name | json| removeQuotes}}</li>
                                  </div>
                                </div>
                                <div class="panel-footer">
                        
                                </div>
                              </div>
                            </div>
                            <div class="col-md-8">
                                <div *ngIf='stackDetails' class="panel panel-default">
                                    <div class="panel-heading">
                                      <h3 class="panel-title">
                                        Details of {{stackDetails.stack.stack_name|json| removeQuotes}}
                                      </h3>
                                    </div>
                                    <div class="fixed-panel panel-body">
                                        {{stackDetails|json | removeQuotes}}
                                    </div>
                                    <div class="panel-footer">
                                        
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="tab-pane fade" id="tab3primary">
                    Network
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


